<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="OuM2Qte_vKpFi_mpk0mhgVDbj5v6b_Fm0L87CAFOLIE"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <title>Link Guru | Top Webpages Reviews | {{ title}}</title>
</head>
<body>
<div class="container">
    {{> nav/navbar}}
    {{{body}}}
    <footer>
        <div class="row">
            <div class="col-md-12">
                <p>Copyright LinkGuru - 2017</p>
            </div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
