<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <h4>Home</h4>
            </a>
        </div>
    </div>
</nav>


