.bet-row {
    margin-bottom: 20px;
}

.active-bet .well {
    border: 1px solid;
    text-align: center;
}

.pending-bet .well {
    border: 1px solid;
    text-align: center;
}

.executed-bet .well {
    border: 1px solid;
    text-align: center;
}

.username-menu {
    background-color: #375a7f;
}

.account-menu {
    background-color: #375a7f;
}

.gas-price-menu {
    background-color: #375a7f;
}

.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
    border: none;
    background-color: transparent;
}

/* Avoid issue with react modal */
.input-group .form-control {
    z-index: 0;
}

.fairness-proofs-modal-dialog {
    width: auto;
}

.bet-info-modal-dialog {
    width: 800px;
}

.nav > li > a {
    padding-left: 11px;
    padding-right: 11px;
}

.nav-bar-logo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-img {
    height: auto;
    max-height: 100%;
    vertical-align: middle;
}

.balance-ul {
    padding-left: 0px;
    list-style-type: none;
}