<div class="row">
    <div class="col-md-12">
        <h2>What is Link Guru ?</h2>
    </div>
</div>

<div class="row">
    <div class="col-m-12">

        <p>
            Link Guru provides you with the best website reviews every day with thousands of pages reviewed daily by our
            strong
            team of web experts and blogging gurus.
            We proactively search the web everyday and we want you to help you improve your knowledge all the time !
        </p>
    </div>
</div>


<div class="col">
    <div class="col-md-12">
        <h3>Site Categories</h3>
        <ul>
            {{#each categories}}
                <li>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>

    </div>
</div>


