*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# IDEA IDE config
.idea/

# contracts build directory
build/

# frontend build
build_webpack/

# truffle config
truffle.js

# nginx conf
nginx-staging.conf
nginx-production.conf

# BACKEND

backend-relay/config/config.json
backend-relay/config/config-staging.json
backend-relay/config/config-production.json

backend-relay/ecosystem.json

# CERTIFICATES
key.pem
cert.crt

.DS_Store

backend-relay/logs/*
